{% extends 'mainsite/base.html' %}
{% block content %}
		<style type="text/css">
			#_support{
				background-color: rgb(255,0,0);
				color: white;
			}	
		</style>

		<div id="side-nav" class="w3-container">
			<div class="w3-container">
				<a href="#" class="w3-left" style="padding-right:20px";><img src="/static/arrow_left.png"></a>
				<h4 class="w3-left">Members</h4>
			</div>
		</div>

		<! what? not decided yet!>
		<div style="padding-top:400px; padding-bottom:400px;">
			<h1>Under Construction!</h1>
		</div>


{% endblock %}
