/* Common */

#foot{
	position: relative;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lg{
	font-size: 15px;
	margin: 0;
}

#login form{
	padding-top: 10px;
	padding-bottom: 20px;
}

#toplogo img{
	position: absolute;
	max-height: 50px;
	padding-top: 10px;
}
/* Common */


/* frontpage */

#slideshow{
	position: relative;
	margin-top: 50px;
	margin-right: 15%;
	margin-left: 15%;
	height: 700px;
}

#slides{
	height: 100%;
}

.slide-pics{
	display: none;
}

.arrows{
	cursor: pointer;
}

.rounds{
	height: 13px;
	width: 13px;
	padding: 0;
	cursor: pointer;
}

#about-us-short{
	position: relative;
	padding-right: 10%;
	padding-left: 10%;
}

#news{
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 800px;
}

#news-box{
	position: relative;
	height: 90%;
}

#btn-left, #btn-right{
	position: absolute;
	top: 50%;
}


/* about-us */

#side-nav{
	position: relative;
	padding-top: 70px;
}

#about-us{
	position: relative;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 50px;
}

#about-us-p{
	padding-bottom: 50px;
}

#about-us-img{
	padding-bottom: 50px;
	padding-top: 50px;
}

.pic-btn{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

.pic-btn a{
	position: relative;
	text-decoration: none;
	overflow: hidden;
}

.pic{
	display: block;
	margin: auto;
}

/* Our Projects */

#project-info{
	position: relative;
	padding-right: 20%;
	padding-left: 20%;
}

#project-classify{
	position: relative;
	padding-bottom: 20px;
	padding-top: 50px;
}

#project-classify a{
	text-decoration: none;
}

/* completed projects */

#project-list{
	position: relative;
	padding-right: 20%;
	padding-left: 20%;
}

#projects{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;

}



/* members */



#member-info{
	position: relative;
	padding-right: 20%;
	padding-left: 20%;
}

#member-classify{
	position: relative;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 20px;
	padding-top: 50px;
}

#member-classify h4{
	padding-bottom: 20px;
}

#member-search{
	padding-top: 30px;
	padding-bottom: 50px;
}

#first, #second, #third, #fourth{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* active members */

.year{
	position: relative;
	padding-right: 20%;
	padding-left: 20%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.student{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#download{
	position: relative;
	top:5px;
}

/* registration */

#registration{
	position: relative;
	padding-top: 200px;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 200px;
}

#login label, input{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* add projects */

#addproject{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20%;
	padding-right: 20%;
}

/* Profile */

#userdetails{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20%;
	padding-right: 20%;
}

#userprojects{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20%;
	padding-right: 20%;
}

/* Expo */

#expo{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20%;
	padding-right: 20%;
}

#expo-body{
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 50px;
	margin-bottom: 50px;
}


/*ISM animation*/
#ISM-animation{
	position:relative;
	margin:auto;
}
.shuttle img{
	position:absolute;
	bottom:0%;	
}
@keyframes shuttle{
	0%{left:-10%;}
	100%{left:100%;}
}
@-webkit-keyframes shuttle{
	0%{left:-10%;}
	100%{left:100%;}
}
.cl-one img{
	position:absolute;
	bottom:70%;
}
@keyframes cloud1{
	0%{left:-10%;}
	100%{left:100%;}
}
@-webkit-keyframes cloud1{
	0%{left:-10%;}
	100%{left:100%;}
}
.cl-two img{
	position:absolute;
	bottom:80%;
}
@keyframes cloud2{
	0%{left:30%;}
	70%{left:100%;}
	70.01%{left:-10%;}
	100%{left:30%;}
}
@-webkit-keyframes cloud2{
	0%{left:30%;}
	70%{left:100%;}
	70.01%{left:-10%;}
	100%{left:30%;}
}
.cl-three img{
	position:absolute;
	bottom:70%;
}
@keyframes cloud3{
	0%{left:100%;}
	100%{left:-5%;}
}
@-webkit-keyframes cloud3{
	0%{left:100%;}
	100%{left:-5%;}
}
.cl-four img{
	position:absolute;
	bottom:80%;
}
@keyframes cloud4{
	0%{left:100%;height:30px;width:60px;}
	100%{left:-5%;height:50px;width:85px;}
}
@-webkit-keyframes cloud4{
	0%{left:100%;height:30px;width:60px;}
	100%{left:-5%;height:50px;width:85px;}
}
.sun img{
	position:absolute;
	bottom:75%;
}
@keyframes sun{
	0%{left:-10%;}
	100%{left:100%;}
}
@-webkit-keyframes sun{
	0%{left:-10%;}
	100%{left:100%;}
}
.buildings img{
	position:absolute;
	bottom:-300px;
}
