{% extends 'mainsite/base.html' %}
{% block content %}

		<div id="heading" class="w3-container" style="padding-top:50px;">
			<h3 class="w3-center">Active Member's of RoboISM</h3>
		</div>
		<div id="first-yr" class="year w3-container">
			<h4 class="w3-center">First Year Member's</h4>
			{% for m in member %}
			{% if m.year == "First Year" %}
				<div class="w3-container w3-row-padding w3-card-4 student">
					<div class="w3-container w3-col s3">
						<img src="{{ m.pic.url }}">
					</div>
					<div class="w3-container w3-col s6">
						<h5>{{ m.name }}</h5>
						<p>Branch: {{m.branch}}</p>
						<p>Mail Id: {{ m.email }}</p>
						<div class="w3-accordion">
							<button class="w3-btn-block w3-left-align" onclick="open_bio();">About Me</button>
							<div id="bio" class="w3-accordion-content">
								<p>{{ m.bio }}</p>
							</div>
							<script type="text/javascript">
								function open_bio() {
								    var bio = document.getElementById("bio");
								    var drop = document.getElementById("drop");
								    if (bio.className.indexOf("w3-show") == -1){ 
								        bio.className += " w3-show";
								        bio.previousElementSibling.className += " w3-red";
								    }
								    else{ 
								        bio.className = bio.className.replace(" w3-show", "");
								        previousElementSibling.className = previousElementSibling.className.replace(" w3-red", "");
								    }
								}
							</script>
						</div>
						<a href="#"><button style="margin-top:20px;" class="w3-btn w3-round-xxlarge w3-blue">See Project's of {{ m.name }}</button></a>
					</div>
					<div class="w3-container w3-col s3">
						<a href="#" alt="LinkedIn Account" title="LinkedIn Account"><img src="/static/linkedin.png"></a>
						<p style="padding-top:3px;">Download Resume <a id="download" href=""><i class="material-icons">file_download</i></a></p>
					</div>
				</div>
			{% endif %}
			{% endfor %}
			<hr class="fade">
		</div>
		<div id="second-yr" class="year w3-container">
			<h4 class="w3-center">Second Year Member's</h4>
			{% for m in member %}
			{% if m.year == "Second Year" %}
				<div class="w3-container w3-row-padding w3-card-4 student">
					<div class="w3-container w3-col s3">
						<img src="{{ m.pic.url }}">
					</div>
					<div class="w3-container w3-col s6">
						<h5>{{ m.name }}</h5>
						<p>Branch: {{m.branch}}</p>
						<p>Mail Id: {{ m.email }}</p>
						<div class="w3-accordion">
							<button class="w3-btn-block w3-left-align w3-blue" onclick="open_bio();">About Me</button>
							<div id="bio" class="w3-accordion-content">
								<p>{{ m.bio }}</p>
							</div>
							<script type="text/javascript">
								function open_bio() {
								    var bio = document.getElementById("bio");
								    var drop = document.getElementById("drop");
								    if (bio.className.indexOf("w3-show") == -1){ 
								        bio.className += " w3-show";
								        bio.previousElementSibling.className += " w3-red";
								    }
								    else{ 
								        bio.className = bio.className.replace(" w3-show", "");
								        previousElementSibling.className = previousElementSibling.className.replace(" w3-red", "");
								    }
								}
							</script>
						</div>
						<a href="#"><button style="margin-top:20px;" class="w3-btn w3-round-xxlarge w3-blue">See Project's of {{ m.name }}</button></a>
					</div>
					<div class="w3-container w3-col s3">
						<a href="#" alt="LinkedIn Account" title="LinkedIn Account"><img src="/static/linkedin.png"></a>
						<p style="padding-top:3px;">Download Resume <a id="download" href=""><i class="material-icons">file_download</i></a></p>
					</div>
				</div>
			{% endif %}
			{% endfor %}
			<hr class="fade">
		</div>
		<div id="third-yr" class="year w3-container">
			<h4 class="w3-center">Third Year Member's</h4>
			{% for m in member %}
			{% if m.year == "Third Year" %}
				<div class="w3-container w3-row-padding w3-card-4 student">
					<div class="w3-container w3-col s3">
						<img src="{{ m.pic.url }}">
					</div>
					<div class="w3-container w3-col s6">
						<h5>{{ m.name }}</h5>
						<p>Branch: {{m.branch}}</p>
						<p>Mail Id: {{ m.email }}</p>
						<a href="#"><button style="margin-top:20px;" class="w3-btn w3-round-xxlarge w3-blue">See Project's of {{ m.name }}</button></a>
					</div>
					<div class="w3-container w3-col s3">
						<a href="#" alt="LinkedIn Account" title="LinkedIn Account"><img src="/static/linkedin.png"></a>
						<p style="padding-top:3px;">Download Resume <a id="download" href=""><i class="material-icons">file_download</i></a></p>
					</div>
				</div>
			{% endif %}
			{% endfor %}
			<hr class="fade">
		</div>
		<div id="fourth-yr" class="year w3-container">
			<h4 class="w3-center">Final Year Member's</h4>
			{% for m in member %}
			{% if m.year == "Final Year" %}
				<div class="w3-container w3-row-padding w3-card-4 student">
					<div class="w3-container w3-col s3">
						<img src="{{ m.pic.url }}">
					</div>
					<div class="w3-container w3-col s6">
						<h5>{{ m.name }}</h5>
						<p>Branch: {{m.branch}}</p>
						<p>{{ m.email }}</p>
						<a href="#"><button style="margin-top:20px;" class="w3-btn w3-round-xxlarge w3-blue">See Project's of {{ m.name }}</button></a>
					</div>
					<div class="w3-container w3-col s3">
						<a href="#" alt="LinkedIn Account" title="LinkedIn Account"><img src="/static/linkedin.png"></a>
						<p style="padding-top:3px;">Download Resume <a id="download" href=""><i class="material-icons">file_download</i></a></p>
					</div>
				</div>
			{% endif %}
			{% endfor %}
			<hr class="fade">
		</div>

{% endblock %}