{% extends 'mainsite/base.html' %}
{% block content %}
		<!slideshow>
		<div id="slideshow" class="w3-container">
			<div id="slides" class="w3-container">
				<div class="w3-section w3-center w3-large w3-text-white w3-display-bottomleft" style="width:100%;">
					<div class="w3-left w3-padding-left w3-hover-text-black arrows" onclick="Image(-1)">&#10094;</div>
	    			<div class="w3-right w3-padding-right w3-hover-text-black arrows" onclick="Image(1)">&#10095;</div>
	    			<span class="w3-badge rounds w3-transparent w3-hover-white" onclick="currentImage(1)"></span>
	   				<span class="w3-badge rounds w3-transparent w3-hover-white" onclick="currentImage(2)"></span>
	    			<span class="w3-badge rounds w3-transparent w3-hover-white" onclick="currentImage(3)"></span>
	    			<span class="w3-badge rounds w3-transparent w3-hover-white" onclick="currentImage(4)"></span>
	   			 	<span class="w3-badge rounds w3-transparent w3-hover-white" onclick="currentImage(5)"></span>
				</div>
			</div>
		</div>

		<!about-us>
		<div id="about-us-short">
			<h2 class="w3-center">We at Robotcis Club IIT Dhanbad bring innovative ideas to life!</h2>
			<div class="w3-container w3-row-padding">
				<h3 class="w3-container w3-col s2">About Us</h3>
				<div class=" w3-container w3-col s10">
					<p class="w3-text-justify">
						We at Robotics Club IIT Dhanbad, better known by RoboISM, are the awesome group of techie geeks who likes to get their hands dirty with code, machine and electroncis. Yet our ultimate aim is to make life easy and the world a better place. Want to know more about us?<br>
						<a href="#" class="w3-right"><button class="w3-btn w3-hover-red">See More</button></a>
					</p>
				</div>
			</div>
		</div>

		<!latest news and updates>
		<div id="news" class="w3-container">
			<h3 class="w3-center">News and Updates</h3>
			<div id="news-box">
				<button id="btn-left" class="w3-btn-floating" style="left:0" onclick="nextNews()">&#10094;</button>
				<button id="btn-right" class="w3-btn-floating" style="right:0" onclick="prevNews()">&#10095;</button>
			</div>
		</div>
		<script type="text/javascript" src="/static/slideshow-animation.js" ></script>

{% endblock %}
