{% extends 'mainsite/base.html' %}
{% block content %}

<! user details>
<div class="w3-container w3-row-padding w3-card-4 student">
  <div class="w3-container w3-col s3">
    <img src={{member.picFilename}}>
    {{member.DOB}}55
  </div>
  <div class="w3-container w3-col s6">
    <h5>{{ member.name }}</h5>
    <p>Branch: {{member.branch}}</p>
    <p>E-mail id: {{ member.email }}</p>
    <a href={{member.linkedin}} alt="LinkedIn Account" title="LinkedIn Account"><img src="/static/linkedin.png"></a>
    <p style="padding-top:3px;">Download Resume <a id="download" href={{member.resumeFilename}} <i class="material-icons">file_download</i></a></p>
    <a href="/profile/edit"><button class="w3-btn w3-blue">Edit Details</button></a>
  </div>
</div>

<!user projects>
<div id="userprojects" class="w3-container">

</div>

{% endblock %}
