{% extends "registration/base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
        <p class="w3-text-red">Your username and password didn't match. Please try again.</p>
        <p><a href="#" class="w3-text-red">Or forgot your password?</a></p>
    {% endif %}
    <form id="login" method="post" action="." class="w3-container">{% csrf_token %}
        <label class="w3-label" for="id_username">Username </label>
        <input class="w3-input w3-border" type="text" name="id_username">
        <label class="w3-label" for="id_password">Password </label>
        <input class="w3-input w3-border" type="password" name="id_password">
        <input class="w3-btn w3-round-xxlarge w3-blue" type="submit" value="Submit">
    </form>
    <p>Not Registered Yet? New Member's register <a href="/register"><button class="w3-btn w3-round w3-small w3-blue">Here</button></a></p>
{% endblock %}


<!--


<table border="0">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="/" />

-->