{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block head %}
 Registration Completed Successfully
{% endblock %}
{% block content %}
   
   <div class="w3-container">
   		<h4>Your Registration was successful. Your membership will be verified by admin in a day or two.</h4>
   		<p>You can go to your profile to add your projects <a href="/profile/"><button class="w3-btn w3-round-xlarge w3-orange">View Profile</button></a>
   		<p>Or you can go to home page<a href="/"><button class="w3-btn w3-round-xlarge w3-turquoise"></button></a></p>
   </div>

{% endblock %}
